@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Phudu:wght@400&family=Caveat&family=Mulish:wght@300&family=Neonderthaw&family=Quattrocento+Sans&display=swap');

/* Project Wide Styles ---------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    color: white;
}

body {
    height: 100vh;
    background: repeating-linear-gradient(45deg,
            #00978e,
            #00978e 13px,
            #008d87 7px,
            #008d87 20px);
}

h1 {
    font-family: 'Neonderthaw', cursive;
    font-size: 2.8rem;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
    font-family: 'Caveat', cursive;

}

h3 {
    font-family: 'Caveat', cursive;
}

.text-center {
    text-align: center;
}

/** Site logo and title elements ******/

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;
}

hr {
    width: 320px;
    margin: 10px auto;
    border: 1px solid black;
}

#logo {
    margin: auto;
    width: 320px;
}
header h1 {
    margin-bottom: -10px;
    font-weight: normal;
}

header p {
    padding: 5px;
    font-family: 'Phudu', cursive;
}

/** Game board **/

#area-question {
    margin: auto;
    padding: 5px;
    min-width: 320px;
    max-width: 600px;
}

#area-alternatives {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    display: grid;
    grid-row: auto auto;
    gap: 20px 20px;
}

.box {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
}

.box:hover {
    background-color: LightCyan;
}

.active {
    background-color: lightgoldenrodyellow;
}

#area-hints {
    height: 3rem;
}

#hint {
    font-style: italic;
    padding-bottom: 10px;
    padding-top: -20px;
}