@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Phudu:wght@400&family=Caveat&family=Mulish:wght@300&family=Neonderthaw&family=Quattrocento+Sans&display=swap');

/* ------------  General Body Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    text-align: center;
    color: white;
}

body {
    height: 100vh;
    background: repeating-linear-gradient(45deg,
            #00978e,
            #00978e 13px,
            #008d87 7px,
            #008d87 20px);
}

/* ------------  General Font Styles */
h1 {
    font-family: 'Neonderthaw', cursive;
    font-size: 2.8rem;
    font-weight: normal;
    margin-bottom: -10px;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
    font-family: 'Caveat', cursive;

}

h3 {
    font-family: 'Phudu', cursive;
    font-weight: normal;
}

p {
    font-size: 0.9rem; 
}

/* ------------  Project wide classes */
.dotted-blue {
    margin: auto;
    min-width: 18rem;
    max-width: 35rem;
    background-color: #40afa9;
    border: 2px dotted white;
    border-radius: 25px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
}

.dotted-blue > p {
    padding: 0 1rem;
}

.spc-height {
    height: 1.8rem;
}

.btn-big {
    background-color: #d98926;
    width: 10rem;
    height: 2.3rem;
    margin: auto;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: -5px 5px #011e1c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-big:hover {
    background-color: #ece98c;
    color: #cf6740;
    font-weight: bold;
}

/* ------------  Site logo and title elements */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}

#logo-big {
    width: 25rem;
}

#logo {
    width: 20rem;
}

header p {
    padding: 5px;
    font-family: 'Phudu', cursive;
}

/* ------------  Index - Welcome Page Elements */
.txt-narrow {
    max-width: 26rem;
    text-align: left;
    margin: auto;
}

/* ------------  Quiz - Main blocks (Game board) */
#hint {
    font-style: italic;
}

#area-alternatives {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
}

.fix-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    padding: 20px;
    margin-bottom: 25px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #cf6740;
    box-shadow: -5px 5px #011e1c;
}

.fix-block > h3 {
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    text-align: center;
    font-size: 150%;
}

.fix-block > p {
    font-size: 80%;
    padding: 10px 40px;
}

/* ------------  Quiz - Boxes - Answer Alternatives */
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 25px;
    border: 1px solid black;
    border-radius: 15px;
    height: 64px;

    background-color: #cf6740;
    box-shadow: -5px 5px #011e1c;
    perspective: 1000px;
}

.front,
.back {
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.5s;
    font-family: 'Bebas Neue', cursive;
    font-size: 150%;
    cursor: pointer;
}

.front {
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

.box:hover {
    background-color: #d98926;
    transform: rotateY(0deg);
}

.box:hover .front {
    transform: rotateY(180deg);
}

.box:hover .back {
    transform: rotateY(0deg);
}

.active {
    background-color: #ece98c;
}

#area-scores {
    background-color: #d98926;
    width: 270px;
    height: 50px;
    margin: auto;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: -5px 5px #011e1c;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------  Final Page Elements **/
#signature {
    height: 50px;
}